@model movies_app.Models.Root
@using movies_app.Models

<div class="movie-grid">
    @if (Model != null && Model.Results != null)
    {
        @foreach (var result in Model.Results.Skip(4))
        {
            <div class="movie-item">
                <a asp-area="" asp-controller="Home" asp-action="Details" asp-route-result="@result.Id" style="text-decoration: none;">
                    <img src="@($"https://image.tmdb.org/t/p/w500/{result.PosterPath}")" alt="@result.Title" class="movie-poster" />
                </a>
                <div class="movie-info">
                    <a asp-area="" asp-controller="Home" asp-action="Details" asp-route-result="@result.Id" style="text-decoration: none;">
                        <h4>@result.Title</h4>
                    </a>

                    <p>
                        @{
                            var genres = GenreMapper.GetGenres(result.GenreIds);
                        }
                        @genres
                    </p>
                </div>
            </div>
        }
    }
    else
    {
        <p>Failed to retrieve data from the API.</p>
    }
</div>
